# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
.eggs/
.venv/
venv/
env/

# Test / local data files
*.npy
*.jpeg
*.jpg
*.png

# IDE
.vscode/
.idea/

# macOS
.DS_Store

# Secrets
.env
*.key

apikey.txt